.popularSection {
  padding: 40px 16px;
  width: 100%;
}

.popularArticlesContainer {
  width: 100%;
  margin: 0 auto;
}

.popularContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.popularTitle {
  font-weight: 700;
  font-size: 32px;
  color: var(--black);
  margin-bottom: 16px;
}

.popularLink {
  font-weight: 700;
  font-size: 16px;
  color: var(--green-darker);
  height: 28px;
}

.linkIcon {
  fill: currentColor;
  margin-left: 12px;
}

.popularList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 72px;
}

/* Tablet (768px) */
@media (min-width: 768px) {
  .popularSection {
    padding: 60px 32px;
  }

  .popularArticlesContainer {
    max-width: 704px;
    padding: 0;
  }
  .popularLink {
    display: none;
  }

  .popularList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
  }
}

/* Desktop (1440px) */
@media (min-width: 1440px) {
  .popularSection {
    padding: 80px 108px;
  }

  .popularArticlesContainer {
    max-width: 1224px;
    padding: 0;
  }

  .popularContent {
    display: flex;
    flex-direction: row;
    height: 55px;
    margin-bottom: 16px;
  }

  .popularTitle {
    font-size: 40px;
    margin-bottom: 0;
  }

  .popularLink {
    display: flex;
    margin-left: auto;
    padding: 13.5px 0;
  }

  .popularList {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-bottom: 0;
    width: 100%;
  }
}
