* {
  box-sizing: border-box;
}

:root {
  --green: #649179;
  --black: #070721;
  --light-green: #d1e0d8;
  --red: #ad6a6c;
  --purple: #7678ed;
  --white: #f7fffb;
  --green-darker: #374f42;
  --gray: #595d62;
  --light-gray: #9f9f9f;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font-manrope), sans-serif;
  color: var(--black);
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
