.buttonAddToBookmarks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 8px;
    border: 1px solid var(--green-darker);
    border-radius: 64px;
    background: transparent;
    cursor: pointer;
}

.icon {
    stroke-width: 0.50px;
    color: var(--green-darker);
}

.active {
    background: var(--green);
    border-color: var(--green)
}

.active .icon {
    color: var(--light-green);
}