.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 12px;
  width: 100%;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.avatar {
  width: 148px !important;
  height: 148px !important;
  border-radius: 50%;
  object-fit: cover;
  transition: opacity 0.2s ease;
}

.link:hover .avatar {
  opacity: 0.85;
}

.name {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--black);
}

@media (min-width: 768px) {
  .avatar {
    width: 262px !important;
    height: 262px !important;
  }
}